@{
    ViewData["Title"] = "Privacy Policy";
}

@inject LanguageService language


<h1 class="display-4">@language.Getkey("Privacy Policy")</h1>

<p>@language.Getkey("Use this page to detail your site's privacy policy.")</p>
